/* main content container */
.body-content-container {
    display: flex;
    background-image: url('../../images/simple_dark_bg.png');
    resize: both;
    background-size: contain;
    background-color: rgb(39, 39, 39);
    width: 90%;
    /* min-height: 800px; */
    margin: 0px auto;
    /* margin-top: 30px; */
    /* margin-bottom: 30px; */
    border-radius: 10px;
}

/* content container */
.body-content-container_text {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    /* max-height: 400px; */
    /* border: 1px solid gray; */
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    overflow: visible;
    margin: auto;
    text-align: center;
}


/* text-2 */
.text_2 {
    color: #f3e11d;
    font-weight: 600;
}


.welcome_text {
    display:block;
    margin: auto;
    color: #f3e11d;
    font-size: 0.6em;
    border-top: 1px solid darkgray;
    padding-top: 12px;
}
.quotation_mark {
    color: rgb(211, 211, 211);
    font-size: 1em;
    font-weight: 600;
}
