/* main content container */
.body-content-container {

}





/* content container */
.content-container {
    background-image: url('http://localhost:3000/img/simple_dark_bg.png');
    background-size: contain;
    width: 160px;
    height: 160px;
    border: 2px solid red;
    color: black;
    resize: both;
}
