.ask_question_container {
    border: 1px solid rgb(172, 172, 172);
    background-color: whitesmoke;
    border-radius: 6px;
    max-width: 800px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 20px 0px;
}

.errors {
    color: rgb(233, 2, 2);
}


.submit_btn {
    margin: auto;
}
