.ask_question_container {
    width: 60%;
    margin: 0 auto;
    margin-top: 2%;
}

.ask_question_title {
    display: inline-block;
    font-weight: 400;
    font-size: 1.5em;
    text-align: left;
    padding: 0px 0px 30px 0px;
}

.question-form {
    border: 1px solid rgb(212, 210, 210);
    box-shadow: 0px 0px 8px #c9ccce;
    background-color: whitesmoke;
    border-radius: 6px;
    width: 100%;
    padding: 20px 10px;
    box-sizing: border-box;
}

.title-label {
    cursor: pointer;
    font-weight: 600;
}

.title-span_text {
    cursor: pointer;
    display: block;
    font-size: 0.8em;
    font-weight: 400;
    margin: 4px 0px;
    color: #3c4146;
}

.title-question_input {
    width: 100%;
    margin: 0;
    padding: .6em .7em;
    border: 1px solid #bbc0c4;
    border-radius: 3px;
    background-color: #fff;
    color: #0c0d0e;
    font-size: 13px;
    font-family: inherit;

    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    cursor: text;
    font: 400 13.3333px Arial;
    border-width: 2px;
    border-color: rgb(156, 155, 155);
    border-image: initial;

    box-sizing: border-box;
}

.comment-container {
    margin: 20px 0px 0px 0px;
}

.errors {
    color: rgb(233, 2, 2);
    list-style: none;
    text-align: center;
}

.submit_btn {
    color: #fff;
    background-color: #0095ff;

    display: inline-block;
    padding: .8em;
    border: 1px solid transparent;
    border-radius: 3px;
    outline: none;
    font-family: inherit;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    margin-top: 6px;
}

.ask_question_footer {
    margin-top: 2%;
}
