
.navbar-main-container {
    /* border: 1px solid black; */
    border-bottom: 2px solid rgb(212, 210, 210);
    display: flex;
    justify-content: space-between;
    height: 50px;
    max-width: 1800px;
    padding: 0px 100px;
    background-color: whitesmoke;
}

/*NavBar Menu Icon*/
.navbar-menu {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    margin: 5px 3px 5px 20px;
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.navbar-menu:hover {
    cursor: pointer;
    background-color: rgb(224, 217, 217);
}

/* NavBar Menu Links */
.navbar-menu_links {
    border: 1px solid rgb(212, 210, 210);
    position: absolute;
    top: 50px;
    padding: 10px 0px;
    background-color: whitesmoke;
}

.home {
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    color: rgb(100, 100, 100);
    font-size: 1.2em;
    width: 100%;
    padding: 8px 6px 8px 6px;
}

.questions {
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    color: rgb(100, 100, 100);
    font-size: 1.2em;
    width: 100%;
    padding: 8px 6px 8px 6px;
}

.home:hover {
    color: black;
    background:rgb(235, 228, 228);
}

.questions:hover {
    color: black;
    background:rgb(235, 228, 228);
}

/*NavBar JS Overflow Image */
.navbar-img-container {
    /* border: 1px solid black; */
    display:inline-block;
    box-sizing: border-box;
    margin: 5px 3px 0px 8px;
}

.js_logo {
    height: 40px;
    width: 50px;
}

.navbar-img-text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 0px 4px;
}

.navbar-img-container:hover {
    background-color: rgb(224, 217, 217);
    cursor: pointer;
}

/* navbar-user-container */
.navbar-user-container {
    margin-right: 20px;
}

/*NavBar login */
.login {
    text-decoration: none;
    color: #39739d;
    background-color: #e1ecf4;
    border: 1px solid #39739d;
    border-radius: 3px;
    display: inline-block;
    font-size: 1em;
    text-align: center;
    cursor: pointer;
    padding: .6em;
    margin: 5px 3px;
    box-sizing: border-box;
}

.login:hover {
    background-color: #a4c9e2;
}


/*NavBar Sign up */
.signup {
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 1px solid #0095ff;
    background-color: #0095ff;
    border-radius: 3px;
    display: inline-block;
    font-size: 1em;
    text-align: center;
    cursor: pointer;
    padding: .6em;
    margin: 5px 3px;
    box-sizing: border-box;
}

.signup:hover {
    background-color: #4092cc;
}



/*----------------------- Profile button----------------------- */
.menu_btn {
    border: 1px solid blue;
    color: rgb(255, 255, 255);
    border: 1px solid #0095ff;
    background-color: #0095ff;
    border-radius: 3px;
    display: inline-block;
    font-size: 1em;
    text-align: center;
    cursor: pointer;
    padding: .6em;
    margin: 5px 3px;
    box-sizing: border-box;
}

.menu_btn:hover {
    background-color: #4092cc;
}


.profile-dropdown {
    /* border: 1px solid red; */
    background-color: white;
    /* list-style: none; */
}


/*---------------Demo User Btn----------------------*/
.demo_user {
    text-decoration: none;
    color: #39739d;
    background-color: #e1ecf4;
    border: 1px solid #39739d;
    border-radius: 3px;
    display: inline-block;
    font-size: 1em;
    text-align: center;
    cursor: pointer;
    padding: .5em;
    margin: 5px 3px;
    box-sizing: border-box;
}

.demo_user:hover {
    background-color: #a4c9e2;
}

/*---------------My Profile Btn----------------------*/
.my_profile_btn {
    text-decoration: none;
    color: #39739d;
    background-color: #e1ecf4;
    border: 1px solid #39739d;
    border-radius: 3px;
    display: inline-block;
    font-size: 0.8em;
    text-align: center;
    padding: .3em;
    box-sizing: border-box;
    /* cursor: default; */
    cursor: default;
}
.my_profile_btn:hover {
    background-color:rgb(226, 223, 223);
}
