/* footer-container */
.footer-container {
    display: flex;
    background-color: #dfdfdf;
    width: 100vw;
    /* border: 1px solid black; */
}

/* profile-container */
.profile-container {
    display: inline-block;
    margin: auto;
    /* border: 1px solid red; */
    max-width: 300px;
    max-height: 300px;
}

.block_img {
    margin: auto;
    width: 60px;
    /* border: 1px solid black; */
}

/* img-avatar */
.img-avatar {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    /* border: 1px solid blue; */
}


/* name */
.name {
    font-weight: 600;
    font-size: 1.1em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


/* profile-container_icons */
.profile-container_icons {
    /* border: 1px solid black; */
    padding: 0px 5px;
}

/* github-icon */
.github-icon {
    font-size: 24px;
    color: black;
    margin: 0px 4px;
}
/* linkedin-icon */
.linkedin-icon {
    font-size: 24px;
    margin: 0px 4px;
    color: blue;
}



/* project-url */
.project-url {
    text-decoration: none;
    color: #0000EE ;
    font-size: 1em;
}
