/* Questions Main container */
.QuestionID-main-container {
    max-width: 1000px;
    margin: 0px auto;
    background-color: whitesmoke;
    border: 1px solid rgb(228, 225, 225);
    border-top: none;
    border-radius: 6px;
    padding: 30px 0px 0px 0px;
}


/* QuestionID Head container */
.QuestionID-head-container {
    padding: 0px 5px 10px 5px;
    border-bottom: 2px solid rgb(228, 225, 225);
}

/*  title text question  */
.title-question {
    font-weight: 400;
    margin: 5px 0px;
    font-size: 1.5em;
    box-sizing: border-box;
    overflow-wrap: break-word;
}

/* ask a question container */
.ask-question-container {
    text-align: center;
    margin: 15px 0px;
}

/*  QuestionID Body container  */
.QuestionID-body-container {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px 25px;
}

.comment-question {
    box-sizing: border-box;
    overflow-wrap: break-word;
    line-height: 1.5;
    margin: 20px 0px;
}

.all_answers_text {
    font-size: 1.4em;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 10px 0px;
    border-top:1px solid rgb(228, 225, 225);
}

.no_answers_text {
    font-size: 1.4em;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 30px 0px;
    border-top:1px solid rgb(228, 225, 225);
    text-align: center;
}

.modal {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    border: 1px solid #ccc;
    background-color: #fff;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    margin: 5% auto; /* 15% from the top and centered */
    width: 40%;
}
