/* Questions Main container */
.questions-main-container {
    max-width: 1000px;
    margin: 0px auto;
    background-color: whitesmoke;
    border: 1px solid rgb(228, 225, 225);
    border-top: none;
    border-radius: 6px;
    padding: 30px 0px 0px 0px;
}


/* Questions Head container */
.questions-head-container {
    display: flex;
    justify-content: space-around;
    padding: 0px 0px 10px 0px;
    border-bottom: 2px solid rgb(228, 225, 225);
}

/*  Questions header Text  */
.questions-text {
    font-size: 2em;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 5px 0px;
}

/*  ask-question btn  */
.ask-question {
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 1px solid #0095ff;
    background-color: #0095ff;
    border-radius: 3px;
    display: inline-block;
    font-size: 1em;
    text-align: center;
    cursor: pointer;
    padding: .6em;
    margin: 5px 0px;
    box-sizing: border-box;
}


/*  Questions Body container  */
.questions-body-container {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px 25px;
}


/* Post question */
.post-question {
    border-bottom: 1px solid rgb(228, 225, 225);
    padding: 10px 0px;
    box-sizing: border-box;
    overflow-wrap: break-word;
}

.post-question:last-child {
    border-bottom: none;
}

.post-question_navlink {
    text-decoration: none;
    color: #0077cc;
    font-size: 1.3em;
    line-height: 1.3;
    font-weight: 400;
}

.post-question_comment {
    line-height: 1.5;
}

/* modal */
.modal {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    border: 1px solid #ccc;
    background-color: #fff;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    margin: 5% auto; /* 15% from the top and centered */
    width: 40%;
}
